.app-content {
  height: 100vh;
}

.app-container {
  .sidenav {
    width: 200px;
    .sidenav-btn {
      border-bottom: 1px solid whitesmoke;
      &.active {
        background-color: rgba(189, 189, 189, 0.6);
      }
    }
  }
}
