<mat-sidenav-container class="app-wrapper">
  <mat-sidenav #sidenav (click)="sideNavClick()" class="sidenav">
    <mat-list>
      <mat-list-item routerLink="/list" class="sidenav-btn" routerLinkActive="active">
        List
      </mat-list-item>
      <mat-list-item routerLink="/table" class="sidenav-btn" routerLinkActive="active">
        Table
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
